.link {
    height: 400px;
    width: 100%;
    background-color: palevioletred;
    margin-bottom: 50px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background: url(https://static.vecteezy.com/system/resources/previews/000/665/616/original/vector-blue-tech-background-with-big-arrows-technology-concept.jpg);
    /* background-image: url('bg.jpg'); */
    box-sizing: border-box;
}

h2 {
    text-decoration: underline;
}

.details {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: auto;
}

li {
    font-size: 20px;
}

#container {
    height: fit-content;
    margin: 20px 100px;
    border-width: 5px;
    box-shadow: 10px 0px 29px -8px rgba(110, 110, 110, 1);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    overflow: visible;
}

#ember375 {
    margin-left: 20px;
    margin-right: 5px;
}

.iiit,
.cs {
    text-decoration: none;
}

#span1 {
    color: #0000EE;
}

.iiit {
    font-weight: bold;
    font-family: 'Patrick Hand SC';
    font-size: 17px;
}

.btech {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    height: auto;

}

.inter {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.tenth {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.iiit:hover {
    text-decoration: underline;
}

.cs:hover {
    text-decoration: underline;
}

h1 {
    padding-top: 2px;
}

li {
    line-height: 2;
    font-family: 'Aclonica';
}

li h3 {
    line-height: 1;
    /* text-decoration: underline; */
    margin: 10px 0px;
    font-family: 'Racing Sans One';
}

.footer {
    position: relative;
    height: 50px;
    margin-bottom: 0px;
    background-color: rgba(217, 88, 88, 0.25);
}

.img {
    flex-basis: 25%;
    align-self: flex-start;
    width: 100%;
}

.res {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid grey;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 20px 100px;
}

.data {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
}

.one {
    box-sizing: border-box;
    width: auto;
    height: 200px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 50px;
    position: relative;
    font-family: 'Oswald';
}

.one #name {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;

}

.two {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    margin-left: auto;
    position: relative;
    margin-right: 50px;
}

.text {
    display: flex;
    justify-content: center;
}

.iiit1 {
    display: flex;
    justify-content: center;
}

.pic {
    position: absolute;
    margin-top: -150px;
}

.bgimg {
    background: #fff;
    width: 100%;
}

.profile {
    padding: 0 25px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -80px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.education {
    background-color: white;
}

.education h1 {
    font-family: 'Abril Fatface';
}

.skills {
    background-color: white;
}

.skills h1 {
    font-family: 'Abril Fatface';
}

.certify {
    background-color: white;
}

.certify h1 {
    font-family: 'Abril Fatface';
}

.career {
    background-color: white;
}

.career h1 {
    font-family: 'Abril Fatface';
}

.pro {
    background-color: white;
}

.pro h1 {
    font-family: 'Abril Fatface';
}

.media {
    margin: 20px 100px;
    display: inline-block
}

.media h1 {
    font-family: 'Abril Fatface';
}

.gotopbtn {

    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 7px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

@media(max-width:664px) {
    .two {
        display: none;
    }

    .pic {
        margin-top: -100px;
        height: 100px;
    }

    .one {
        margin-left: 0px;
    }

    .res {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:699px) {
    .btech {
        height: 100px;
    }

    .tenth {
        height: 100px;
    }

    .inter {
        height: 100px;
    }
}

@media(max-width:664px) {
    .btech {
        height: 125px;
        /* margin-left: 0px; */
        padding: 0px;

    }

    #container {
        padding-left: 0px;
        margin: 20px 0px 0px;
    }
}

hr {
    margin-bottom: 0px;
}

.brand {
    height: 75px;
    width: 75px;
    /* top:4em;
    left:25px;
    position: relative; */
    /* padding-bottom: 30px; */


}

.links {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 45rem;
    bottom: 80px;
    font-size: 20px;
    font-family: 'Tillana';
}

.links a {
    color: #fff;
    text-decoration: none;
}

.footer {
    background-color: rgba(255, 255, 255, 0.25);
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    /* height: 150px; */
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.25);
}

.c1 {

    display: flex;
    flex: 3;
    flex-direction: column;

}

.r1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.r2 {
    font-family: 'Kodchasan';
    font-weight: bolder;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.p1 {
    display: flex;
    /* flex:1; */
    margin-left: 25px;
    margin-top: 0px;
}

/* .brand {
    height: 75px;
    width:75px;
    top:4em;
    left:25px;
    position: relative;
} */

.p2 {
    font-family: 'Tillana';
    display: flex;
    flex: 1;
    padding-top: 24px;
}

.c2 {

    display: flex;
    flex: 1;
    flex-direction: column;
}

.c2 a {

    font-size: 15px;
    padding-left: 0px;
    color: white;
}

.c3 {

    display: flex;
    flex: 2;
    flex-direction: row;
}

.gotopbtn {

    position: absolute;
    width: 50px;
    height: 50px;
    /* background: #27ae60; */

    margin-top: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    right: 0;
}